<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.qa.test.training.utils.App"
    android:allowBackup="true"
    android:icon="@mipmap/qa_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/qa_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
    tools:targetApi="31">

    <activity
        android:name="com.qa.test.training.features.authentication.LoginActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.qa.test.training.features.calculator.CalculatorActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

    <activity
        android:name="com.qa.test.training.features.home.HomeActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name="com.qa.test.training.features.authentication.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
</application>
</manifest>
